{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Alumni Management</title>
    <link rel="stylesheet" href="{% static 'about/styless.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'about/logo3.png' %}" alt="Logo Alumni Management System" class="logo">

        <h1>Tentang Saya</h1>
        <p>Saya adalah seseorang yang berfokus pada inovasi teknologi dan pengembangan digital untuk masa depan yang lebih baik.</p>
        <div class="button-container">

            <a href="/" class="btn">Home</a>
            <a href="/contacts" class="btn">Contact</a>
        </div>
    </div>
</body>
</html>